.login{
    width:502px;
    margin: 0 auto;
    margin-top:150px;
}

.title{
    text-align: center;
}
.IdPass{
    width: inherit;
    height: 102px;
    border-radius: 20px;
    border:1px solid rgb(79, 110, 190);
}
.input{
    width: 500px;
    height: 50px;
    font-size: 15px;
    border: 0;
    outline: none;
    padding-left: 20px;
    
}
.inputTop{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom:solid 1px rgb(192, 192, 192);
}
.inputBottom{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.button{
    
    font-size:18px;
    text-align: center;
    margin-top:20px;
    padding:15px;
    width: inherit;
    border-radius: 20px;
    
}
.buttonBottom{
    color:white;
    background-color:rgb(155, 177, 234)
}
.buttonTop{
    color:rgb(79, 110, 190);
    border: 1px solid rgb(79, 110, 190)
}

.submit{
    margin-top:30px;
    font-size:18px;
    width:500px;
    background: rgb(79, 110, 190) ; 
    border:none; 
    border-radius: 20px;
    box-shadow:none;  
    padding:15px; 
    overflow:visible; 
    cursor:pointer;
    color:white;
}

img{
    margin-right:5px;
}