*{
    box-sizing: border-box;
  }

.header{
    
    padding:0 70px;
    color:black;
    align-items: center;
    height:70px;
    display:flex;
    font-size:22px;
    border-bottom: 1px solid rgb(79, 110, 190);
    
}

.home{
    font-weight: 600;
    color:inherit;
    text-decoration: none;
    margin-right:40px;
}
.menu{
    color:inherit;
    margin-right:20px;
    text-decoration: none;
}

.right{
    color:inherit;
    margin-right:20px;
    text-decoration: none;
}

.logged{
    display:flex;
}

.greeting{
    font-size:15px;
    margin-right:20px;
}
.user{
    font-size:25px;
    font-weight: 500;
}
.write{
    color:black;
    margin-right:20px;
    font-weight: 600;
}
